<div class="widget">
  <h3 class="title"><%= __('search_placeholder') %></h3>
  <div class="content friends-link">
		<input type="text" class="st-default-search-input" style="padding: 7px 11px 7px 28px;">
  </div>
</div>

<script type="text/javascript">
(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

_st('install','sqtP6X_wFZaX4rTWHhxh','2.0.0');
</script>